#johnCena{
  position: relative;
  background-color: blueviolet;
}

/* Change the className to something else as many other things have app-logo className */
/* .App-logo{
  position: absolute;
  top:10px;
  left:10px;
} */
